* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: black;
}

/* .......................................................................... */

nav {
    background-color: #27242dac;
    height: 100vh;
    width: 12vw;
    display: inline;
    position: fixed !important;
}

nav ul {
    margin-top: 40px;
    list-style: none;
}

nav ul a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 20px;
}

nav ul a:hover {
    background-color: black;
}

/* .......................................................................... */

header {
    background: url(/images/main-image.jpeg) no-repeat center top;
    width: 85vw;
    height: 100vh;
    margin-left: 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    padding: 12px 48px;
    color: #fff;
    background: linear-gradient(to right, #4d4d4d 0, #fff 10%, #4d4d4d 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: 50px;
    text-decoration: none;
    white-space: nowrap;
}

@keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 400px;
    }
    100% {
      background-position: 400px;
    }
  }

header h6 {
    color: white;
}

/* .......................................................................... */

#about-bar {
    margin-left: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-bar h3 {
    border-bottom: 2px solid white;
    font-size: 30px;
    color: white;
    margin: 50px auto auto auto;
}

#about-bar p {
    color: white;
    margin: 2em;
    text-align: center;
}

/* .......................................................................... */

#skills-bar {
    margin-left: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills-bar h2 {
    color: white;
    border-bottom: 2px solid white;
    margin: 50px auto 20px auto;
    font-size: 30px;
}

#skills-bar h3 {
    color: white;
}

#skills-bar .html-skill {
    height: 5px;
    width: 800px;
    background-color: white;
    margin: 5px auto 20px auto;
    border-radius: 10px;
}

#skills-bar .html-skill-val {
    height: 5px;
    width: 750px;
    background-color: #27242dac;
}

#skills-bar .css-skill {
    height: 5px;
    width: 800px;
    background-color: white;
    margin: 5px auto 20px auto;
    border-radius: 10px;
}

#skills-bar .css-skill-val {
    height: 5px;
    width: 730px;
    background-color: #27242dac;
}

#skills-bar .javascript-skill {
    height: 5px;
    width: 800px;
    background-color: white;
    margin: 5px auto 20px auto;
    border-radius: 10px;
}

#skills-bar .javascript-skill-val {
    height: 5px;
    width: 550px;
    background-color: #27242dac;
}

#skills-bar .php-skill {
    height: 5px;
    width: 800px;
    background-color: white;
    margin: 5px auto 20px auto;
    border-radius: 10px;
}

#skills-bar .php-skill-val {
    height: 5px;
    width: 300px;
    background-color: #27242dac;
}

#skills-bar .react-skill {
    height: 5px;
    width: 800px;
    background-color: white;
    margin: 5px auto 20px auto;
    border-radius: 10px;
}

#skills-bar .react-skill-val {
    height: 5px;
    width: 300px;
    background-color: #27242dac;
}

#skills-bar .english-skill {
    height: 5px;
    width: 800px;
    background-color: white;
    margin: 5px auto 20px auto;
    border-radius: 10px;
}

#skills-bar .english-skill-val {
    height: 5px;
    width: 650px;
    background-color: #27242dac;
}

#resume-button {
    border: 2px solid white !important;
    padding: 10px;
    background: transparent;
    color: white;
    text-decoration: none;
}

#resume-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}


/* .......................................................................... */

#projects-bar {
    margin-left: 12vw;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects-bar h2 {
    margin: 50px auto 30px auto;
    font-size: 30px;
    color: white;
    border-bottom: 2px solid white;
}

#projects-bar .cards {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

#projects-bar .cards a {
    display: inline;
    text-decoration: none;
}

#projects-bar .cards a .card-1 {
    height: 200px;
    width: 200px;
    border: 2px solid white;
    border-radius: 7px;
    color: white;
}

#projects-bar .cards a .card-1 p {
    margin: 0.5em 0.5em;
    text-align: center;
    overflow: hidden;
}

#projects-bar .cards a .card-1 h5 {
    text-align: center;
    border-bottom: 1px solid white;
}

#projects-bar .cards a .card-1 .card-1-image {
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin: 10px;
    background-color: white;
}

#projects-bar .cards a .card-2 {
    height: 200px;
    width: 200px;
    border: 2px solid white;
    border-radius: 7px;
    color: white;
}

#projects-bar .cards a .card-2 .card-2-image {
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin: 10px;
    background-color: white;
}

#projects-bar .cards a .card-2 h5 {
    text-align: center;
    border-bottom: 1px solid white;
}

#projects-bar .cards a .card-2 p {
    margin: 0.5em 0.5em;
    text-align: center;
    overflow: hidden;
}

#projects-bar .cards a .card-3 {
    height: 200px;
    width: 200px;
    border: 2px solid white;
    border-radius: 7px;
    color: white;
}

#projects-bar .cards a .card-3 .card-3-image {
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin: 10px;
    background-color: white;
}

#projects-bar .cards a .card-3 h5 {
    text-align: center;
    border-bottom: 1px solid white;
}

#projects-bar .cards a .card-3 p {
    margin: 0.5em 0.5em;
    text-align: center;
    overflow: hidden;
}

/* ........................................................................... */

#my-team-bar {
    margin-left: 12vw;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-members {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#my-team-bar h2 {
    color: white;
    border-bottom: 2px solid white;
    margin: 50px auto 20px auto;
    font-size: 30px;
}

.ali {
    height: 200px;
    width: 300px;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ali-image {
    height: 80px;
    width: 80px;
    border: 1px solid white;
    border-radius: 50%;
}

.ali-image img {
    border-radius: 50%;
}

.ali-descrp {
    height: 80px;
    width: 200px;
    /* border: 1px solid white; */
}

.ali-descrp h3 {
    color: white;
    text-align: center;
}

.ali-descrp p {
    color: white;
    text-align: center;
}

.tawab {
    height: 200px;
    width: 300px;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tawab-image {
    height: 80px;
    width: 80px;
    border: 1px solid white;
    border-radius: 50%;
}

.tawab-image img {
    border-radius: 50%;
}

.tawab-descrp {
    height: 80px;
    width: 200px;
    /* border: 1px solid white; */
}

.tawab-descrp h3 {
    color: white;
    text-align: center;
}

.tawab-descrp p {
    color: white;
    text-align: center;
}

.shehzad {
    height: 200px;
    width: 300px;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.shehzad-image {
    height: 80px;
    width: 80px;
    border: 1px solid white;
    border-radius: 50%;
}

.shehzad-image img {
    border-radius: 50%;
}

.shehzad-descrp {
    height: 80px;
    width: 200px;
    /* border: 1px solid white; */
}

.shehzad-descrp h3 {
    color: white;
    text-align: center;
}

.shehzad-descrp p {
    color: white;
    text-align: center;
}

/* ........................................................................... */

#contact-bar {
    margin-left: 12vw;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-bar h2 {
    color: white;
    border-bottom: 2px solid white;
    margin: 50px auto 20px auto;
    font-size: 30px;
}

#contact-bar h5 {
    color: white;
    margin: 20px auto 5px auto;
    font-size: 15px;
}

#contact-bar p {
    color: grey;
    font-size: 10px;
}

#contact-bar form {
    display: flex;
    flex-direction: column;
}

#contact-bar form input {
    background: transparent;
    margin: 20px;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    outline: none;
}

#submit-button {
    border: 2px solid white !important;
    padding: 10px;
}

#submit-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.phone-nav {
    display: none;
}

/* .......................................................................... */

@media screen and (min-width: 767px) and (max-width: 1024px) {

    header {
        background: url(/images/main-image.jpeg) no-repeat center top;
        height: 70vh;
    }

    #skills-bar .html-skill {
        height: 5px;
        width: 500px;
        background-color: white;
        margin: 5px auto 20px auto;
        border-radius: 10px;
    }

    #skills-bar .html-skill-val {
        height: 5px;
        width: 90%;
        background-color: #27242dac;
    }

    #skills-bar .css-skill {
        height: 5px;
        width: 500px;
        background-color: white;
        margin: 5px auto 20px auto;
        border-radius: 10px;
    }

    #skills-bar .css-skill-val {
        height: 5px;
        width: 73%;
        background-color: #27242dac;
    }

    #skills-bar .javascript-skill {
        height: 5px;
        width: 500px;
        background-color: white;
        margin: 5px auto 20px auto;
        border-radius: 10px;
    }

    #skills-bar .javascript-skill-val {
        height: 5px;
        width: 30%;
        background-color: #27242dac;
    }

    #skills-bar .php-skill {
        height: 5px;
        width: 500px;
        background-color: white;
        margin: 5px auto 20px auto;
        border-radius: 10px;
    }

    #skills-bar .php-skill-val {
        height: 5px;
        width: 300px;
        background-color: #27242dac;
    }

    #skills-bar .react-skill {
        height: 5px;
        width: 500px;
        background-color: white;
        margin: 5px auto 20px auto;
        border-radius: 10px;
    }

    #skills-bar .react-skill-val {
        height: 5px;
        width: 30%;
        background-color: #27242dac;
    }

    #skills-bar .english-skill {
        height: 5px;
        width: 500px;
        background-color: white;
        margin: 5px auto 20px auto;
        border-radius: 10px;
    }

    #skills-bar .english-skill-val {
        height: 5px;
        width: 80%;
        background-color: #27242dac;
    }

}

/* .......................................................................... */

@media screen and (max-width: 767px) {
    nav {
        display: none;
    }

    header {
        background: url(/images/main-image.jpeg) no-repeat center top;
        height: 70vh;
        width: 100vw;
        margin-left: 0%;
    }

    #about-bar {
        margin-left: 0%;
    }

    #skills-bar {
        margin-left: 0%;
    }

    #skills-bar .html-skill {
        height: 5px;
        width: 300px;
        background-color: white;
        margin: 5px auto 20px auto;
        border-radius: 10px;
    }

    #skills-bar .html-skill-val {
        height: 5px;
        width: 90%;
        background-color: #27242dac;
    }

    #skills-bar .css-skill {
        height: 5px;
        width: 300px;
        background-color: white;
        margin: 5px auto 20px auto;
        border-radius: 10px;
    }

    #skills-bar .css-skill-val {
        height: 5px;
        width: 73%;
        background-color: #27242dac;
    }

    #skills-bar .javascript-skill {
        height: 5px;
        width: 300px;
        background-color: white;
        margin: 5px auto 20px auto;
        border-radius: 10px;
    }

    #skills-bar .javascript-skill-val {
        height: 5px;
        width: 30%;
        background-color: #27242dac;
    }

    #skills-bar .php-skill {
        height: 5px;
        width: 300px;
        background-color: white;
        margin: 5px auto 20px auto;
        border-radius: 10px;
    }

    #skills-bar .php-skill-val {
        height: 5px;
        width: 300px;
        background-color: #27242dac;
    }

    #skills-bar .react-skill {
        height: 5px;
        width: 300px;
        background-color: white;
        margin: 5px auto 20px auto;
        border-radius: 10px;
    }

    #skills-bar .react-skill-val {
        height: 5px;
        width: 30%;
        background-color: #27242dac;
    }

    #skills-bar .english-skill {
        height: 5px;
        width: 300px;
        background-color: white;
        margin: 5px auto 20px auto;
        border-radius: 10px;
    }

    #skills-bar .english-skill-val {
        height: 5px;
        width: 80%;
        background-color: #27242dac;
    }

    #projects-bar {
        margin-left: 0%;
    }

    #projects-bar .cards {
        flex-direction: column;
    }

    #projects-bar .cards a .card-1 {
        height: 250px;
    }

    #projects-bar .cards a .card-2 {
        height: 250px;
    }

    #projects-bar .cards a .card-3 {
        height: 250px;
    }

    #my-team-bar {
        margin-left: 0%;
    }

    #contact-bar {
        margin-left: 0%;
    }

    /* ...................phone nav ..................... */

    .phone-nav {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: black;
        padding: 20px;
        border-radius: 50px;
        overflow: hidden;
    }

    .phone-nav input {
        height: 40px;
        width: 40px;
        cursor: pointer;
        opacity: 0%;
    }

    .phone-nav span {
        height: 2px;
        width: 32px;
        margin: 3px;
        background: white;
        transition: 0.5s;
    }

    .phone-nav span:nth-child(2) {
        margin-top: -30px;
    }

    .phone-nav-menu {
        padding: 0%;
        width: 0%;
        overflow: hidden;
        display: flex;
        transition: 0.5%;
    }

    .phone-nav input:checked~span:nth-child(2) {
        transform: rotate(45deg);
    }

    .phone-nav input:checked~span:nth-child(3) {
        transform: rotate(-45deg);
        margin-top: -5px;
    }

    .phone-nav input:checked~span:nth-child(4) {
        display: none;
    }

    .phone-nav input:checked~.phone-nav-menu {
        margin-top: 2em;
        width: 400px;
        /* border: 2px solid white; */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .phone-nav-menu a {
        margin: 0px 10px;
        text-decoration: none;
        color: white;
    }

    .phone-nav-menu a:hover {
        background-color: white;
        color: black;
        cursor: pointer;
    }

}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

#bodybody {
    display: none;
}