* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: black;
}

/* .......................................................................... */

nav {
    background-color: #27242dac;
    height: 100vh;
    width: 12vw;
    display: inline;
    position: fixed !important;
}

nav ul {
    margin-top: 40px;
    list-style: none;
}

nav ul a {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 20px ;
}

nav ul a:hover{
    background-color: black;
}

/* .......................................................................... */

header {
    background-image: url(main-image.jpeg);
    width: 85vw;
    height: 100vh;
    margin-left: 12vw;
    display: flex;
    justify-content: center;
}

header h1 {
    margin-top: 10px;
    color: white;
    font-size: 50px;
    animation: dullbright 2s infinite;
}

@keyframes dullbright {
    0% {opacity: 1;}
    50% {opacity: 0.8;}
    100% {opacity: 1;}
}

/* .......................................................................... */

#about-bar {
    margin-left: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-bar h3 {
    border-bottom: 2px solid white;
    font-size: 30px;
    color: white;
    margin: 50px auto auto auto;
}

#about-bar p {
    color: white;
    margin: 2em;
}

/* .......................................................................... */

#skills-bar {
    margin-left: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills-bar h2 {
    color: white;
    border-bottom: 2px solid white;
    margin: 20px auto 20px auto;
    font-size: 30px;
}

#skills-bar h3 {
    color: white;
}

#skills-bar .html-skill {
    height: 5px;
    width: 800px;
    background-color: white;
    margin: 5px auto 20px auto;
    border-radius: 10px;
}

#skills-bar .html-skill-val {
    height: 5px;
    width: 750px;
    background-color: #27242dac;
}

#skills-bar .css-skill {
    height: 5px;
    width: 800px;
    background-color: white;
    margin: 5px auto 20px auto;
    border-radius: 10px;
}

#skills-bar .css-skill-val {
    height: 5px;
    width: 730px;
    background-color: #27242dac;
}

#skills-bar .javascript-skill {
    height: 5px;
    width: 800px;
    background-color: white;
    margin: 5px auto 20px auto;
    border-radius: 10px;
}

#skills-bar .javascript-skill-val {
    height: 5px;
    width: 550px;
    background-color: #27242dac;
}

#skills-bar .php-skill {
    height: 5px;
    width: 800px;
    background-color: white;
    margin: 5px auto 20px auto;
    border-radius: 10px;
}

#skills-bar .php-skill-val {
    height: 5px;
    width: 300px;
    background-color: #27242dac;
}

#skills-bar .react-skill {
    height: 5px;
    width: 800px;
    background-color: white;
    margin: 5px auto 20px auto;
    border-radius: 10px;
}

#skills-bar .react-skill-val {
    height: 5px;
    width: 300px;
    background-color: #27242dac;
}

#skills-bar .english-skill{
    height: 5px;
    width: 800px;
    background-color: white;
    margin: 5px auto 20px auto;
    border-radius: 10px;
}

#skills-bar .english-skill-val {
    height: 5px;
    width: 650px;
    background-color: #27242dac;
}

/* .......................................................................... */

#projects-bar {
    margin-left: 12vw;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects-bar h2 {
    margin: 20px auto 10px auto;
    font-size: 30px;
    color: white;
    border-bottom: 2px solid white;
}

#projects-bar .cards {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#projects-bar .cards .card-1{
    height: 200px;
    width: 200px;
    border: 2px solid white;
    margin: 30px;
    color: white;
}

#projects-bar .cards .card-1 .card-1-image {
    border: 2px solid white;
    height: 90px;
    margin: 10px;
}

#projects-bar .cards .card-2{
    height: 200px;
    width: 200px;
    border: 2px solid white;
    margin: 30px;
    color: white;
}

#projects-bar .cards .card-2 .card-2-image {
    border: 2px solid white;
    height: 90px;
    margin: 10px;
}

#projects-bar .cards .card-3{
    height: 200px;
    width: 200px;
    border: 2px solid white;
    margin: 30px;
    color: white;
}

#projects-bar .cards .card-3 .card-3-image {
    border: 2px solid white;
    height: 90px;
    margin: 10px;
}

/* ........................................................................... */

#contact-bar {
    margin-left: 12vw;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-bar h2 {
    color: white;
    border-bottom: 2px solid white;
    margin: 20px auto 20px auto;
    font-size: 30px;
}

#contact-bar h5 {
    color: white;
    margin: 20px auto 5px auto;
    font-size: 15px;
}

#contact-bar p {
    color: grey;
    font-size: 10px;
}

#contact-bar form {
    display: flex;
    flex-direction: column;
}

#contact-bar form input {
    background: transparent;
    margin: 20px;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    outline: none;
}

#submit-button{
    border: 2px solid white !important;
    padding: 10px;
}

#submit-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

